@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  #resetMessage {
    display: none;
    animation: fadeIn 1s;
    font-size: 1.5rem;
    color: green;
    text-align: center;
    margin-top: 20px;
  }
  